<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  
  <xacro:macro name="zframe">

    <!-- Define ZFrame position and orientation based on geometry-->
    <xacro:property name="zframe_orientation" value="-1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 -1.0"/> <!-- Rotation matrix (row by row) -->
    <xacro:property name="zframe_position" value="0.0 0.0590 -0.1190"/> <!-- Position (x, y, z) --> 

    <!-- Embed the zframe parameters -->
    <custom_parameters>
      <zframe_position value="${zframe_position}"/>
      <zframe_orientation value="${zframe_orientation}"/>
    </custom_parameters>

  </xacro:macro>

</robot>
